.no-csstransforms #pijl_onder{
    display: none;
}

.placeholder label{
    display: none;;
}

.touchevents #intro_back{
    background-attachment: scroll;
}

.touchevents #esKju-fancyIndex{
    position: absolute;
}

.touchevents #skillbar1{
    width: 95%;
}
.touchevents #skillbar2{
    width: 95%;
}
.touchevents #skillbar3{
    width: 90%;
}
.touchevents #skillbar4{
    width: 90%;
}
.touchevents #skillbar5{
    width: 80%;
}
.touchevents #skillbar6{
    width: 70%;
}
.touchevents #skillbar7{
    width: 70%;
}
.touchevents #skillbar8{
    width: 60%;
}
.touchevents #skillbar9{
    width: 50%;
}