.no-csstransforms #pijl_onder{
    display: none;
}

.placeholder label{
    display: none;;
}

.touchevents #intro_back{
    background-attachment: scroll;
}

.touchevents #esKju-fancyIndex{
    position: absolute;
}