@charset "utf-8";
/*--algemeen--*/
body{
    background-color: #EEEEEE;
    color: #666;
}

header{
    background: #4863A0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

a:focus{
    outline: 0;
}

p{
    margin: 0;
}

/*--intro--*/
#intro_wrap{
    background-color: black;
    color: white;
    height: 100vh;

    /*vertical center child (anders mogelijk blurry)*/
    webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.intro{
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;

    /*vertical center*/
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#menuLink_wrap{
    margin: 0 auto;
    width: 300px;
    min-height: 300px;
    border-radius: 100%;

    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -o-transition: 2s ease;
    transition: 2s ease;
}

#menuLink{
    vertical-align: -144px;
    font-size: 2em;
}

#pijl_onder{
    margin: 0 auto;
    font-size: 2.5em;
    transform: rotate(90deg);
    width: 50px;
    opacity: 0;

    -webkit-transition: 2s ease; /* Safari, Chrome and Opera > 12.1 */
    -moz-transition: 2s ease; /* Firefox < 16 */
    -ms-transition: 2s ease; /* Internet Explorer */
    -o-transition: 2s ease; /* Opera < 12.1 */
    transition: 2s ease;
}
/* transitie via class verandering ook mogelijk */
/*.fadein{
    opacity: 1 !important;
}

.fadeout{
    opacity: 0 !important;
}*/

/*--menu--*/
#menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu ul li{
    display: inline-block;
    padding: 0 20px;
    border-right: 2px solid white;
    text-align: center;
}

#menu ul li:nth-child(1){
    padding-left: 0;
}
#menu ul li:last-child{
    border: 0;
}

#menu ul li a{
    color: white;
    font-size: 1.5em;
}

#menu ul li a:hover{
    text-decoration: underline;

}

/*--divs om contect te centreren--*/
.container{
    margin: 0px auto;
    width: 70%;
    border-radius: 5px;
}
/*zonder menu*/
.container:nth-child(n+2){
    background-color: white;   
    height: 500px;
    padding: 10px;
    margin: 20px auto;
}

.container .top{
    font-size: 1.5em;
    float: right;
    color: #4863A0;
}

