@charset "utf-8";
/*--algemeen--*/
html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #EEEEEE;
    color: #666;
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

a:focus{
    outline: 0;
}

p{
    margin: 0;
}

h2{
    margin: 0;
    color: #4863A0;
}

/*--intro--*/
#intro_totaal{
    position: relative;
    background-color: black;
    height: 100%;
    width: 100%;
}
#intro_back{
    background: url("../img/code_web.jpg") no-repeat center center fixed;
    opacity: 0.6;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

#intro_nav{
    position: absolute;
    top: 0;
    padding: 10px;
}

#dropdownIcon{
    color: white;
    font-size: 2em;
}

.dropdown-menu{
    background-color: rgba(0,0,0,0.5);
}
.dropdown-menu li a{
    color: white;
}

#intro_wrap{
    color: white;
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    /*vertical center child (anders mogelijk blurry)*/
    webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#intro{
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;

    /*vertical center*/
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#menuLink_wrap{
    background-color: rgba(72,99,160,0.9);
    margin: 0 auto;
    width: 300px;
    min-height: 300px;
    border-radius: 100%;

    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -o-transition: 2s ease;
    transition: 2s ease;
}

.menuLink{
    vertical-align: -144px;
    font-size: 2em;
    z-index: 10;
}

.menuLink:hover, .menuLink:focus{
    text-decoration: none;
    color: white;
}

#pijl_onder{
    margin: 0 auto;
    font-size: 2.5em;
    width: 0px;
    opacity: 0;
    margin-top: -35px;
    z-index: 0;

    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    
    -webkit-transition: 2s ease; /* Safari, Chrome and Opera > 12.1 */
    -moz-transition: 2s ease; /* Firefox < 16 */
    -ms-transition: 2s ease; /* Internet Explorer */
    -o-transition: 2s ease; /* Opera < 12.1 */
    transition: 2s ease;
}

/* transitie via class verandering ook mogelijk */
/*.fadein{
    opacity: 1 !important;
}

.fadeout{
    opacity: 0 !important;
}*/

/*--menu--*/
header{
    background: #4863A0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

#menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu ul li{
    display: inline-block;
    padding: 0 20px;
    border-right: 2px solid white;
    text-align: center;
}

#menu ul li:nth-child(1){
    padding-left: 0;
}
#menu ul li:last-child{
    border: 0;
}

#menu ul li a{
    color: white;
    font-size: 1.5em;
}

#menu ul li a:hover{
    text-decoration: underline;

}

/*--divs om contect te centreren--*/
.container{
    margin: 0px auto;
    width: 70%;
    border-radius: 5px;
}
/*zonder menu*/
.container:nth-child(n+2){
    background-color: white;   
    height: 500px;
    padding: 10px;
    margin: 20px auto;
}

.container .top{
    font-size: 1.5em;
    float: right;
    color: #4863A0;
}

.container .top:hover, .container .top:focus{
    text-decoration: none;
}

#bericht{
    line-height: 2em;
}

/*--footer--*/
footer{
    background-color: #4863A0;
    color: white;
    padding: 10px 0;
    
    -webkit-box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.75);
}

#linkedin{
}

#creator{
    float: right;
}


